body * {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.header-text {
  font-size: 50px;
}

.section-text {
  font-size: 30px;
}

.leftpadtext {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hfloat {
  margin: 20px 0px;
  float: left;
}

.float-clear {
  clear: both;
}

.map-holder {
  margin: 10px 10%;
}

.client-name {
  width: 40%;
  text-align: center;
  font-size: 25px;
}

.pagetopheader {
   background: #86ff86;
}

.sectionheader {
  background: #eafeea;
  border-bottom: 2px solid #4c7d4c;
}